.caroussel {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 25px;
  img {
    width: 90%;
    height: 525px;
    object-fit: cover;
    border-radius: 25px;
  }

  .carousselNavBtnPrevious {
    position: absolute;
    top: 252px;
    left: 95px;
    height: 90px;
    font-size: 90px;
    border: 0px;
    background: none;
    color: white;
    :hover {
      color: #ff6060;
      transition: 0.5s;
    }
  }
  .carousselNavBtnNext {
    position: absolute;
    top: 252px;
    right: 95px;
    height: 90px;
    font-size: 90px;
    border: 0px;
    background: none;
    color: white;
    :hover {
      color: #ff6060;
      transition: 0.5s;
    }
  }
}

@media screen and (max-width: 965px) {
  .caroussel {
    .carousselNavBtnPrevious {
      left: 75px;
    }
    .carousselNavBtnNext {
      right: 75px;
    }
  }
}

@media screen and (max-width: 665px) {
  .caroussel {
    .carousselNavBtnPrevious {
      left: 25px;
    }
    .carousselNavBtnNext {
      right: 25px;
    }
  }
}
