.AboutPageContent {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  width: 80%;
  height: 100%;
  div {
    width: 100%;
    margin: 25px 0px 25px 0px;
  }
}
.element {
  list-style-type: none;
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  color: #ff6060;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 5px;
  
}

.element.open .textDropDown {
  display: flex;
  padding-left: 20px;

}

.textDropDown {
  display: none;
}

.titleDropdown {
  display: flex;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;

  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #f6f6f6;
  background-color: #ff6060;
  border-radius: 5px;
  height: 50px;
}
