.logementCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}
.presentationBlocLogement {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 75%;
  .logementCardTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
  }
}

.presentionHost {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.presentionHostpicture {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover;
}
