/// HeaderMenu
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90%;
  margin: 1% auto 1% auto;
}
.logo {
  min-width: 10%;
  max-width: 30%;
}
.headerMenuNav {
  width: 200px;
  display: flex;
  justify-content: space-between;
  a {
    color: #ff6060;
    text-decoration: none;
    font-size: 140%;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 475px) {
  .headerMenuNav {
    width: 155px;
    a {
      font-size: 100%;
    }
  }
}
