/// HeaderMenu
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 90%;
  margin: 1% auto 1% auto;
}
// .logo {
// }
.headerMenuNav {
  width: 200px;
  display: flex;
  justify-content: space-between;
  a {
    color: #ff6060;
    text-decoration: none;
    font-size: 25px;

  }
  a:hover  {
    text-decoration: underline;
  }
}


