header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenuNav {
  width: 280px;
  display: flex;
  justify-content: space-around;
  a {
    color: #ff6060;
    text-decoration: none;
    font-size: 25px;
  }
}
body {
  margin: 0px;
  font-family: " Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
