.headerBox {
  color: #ff6060;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 205px;
    margin: 0;
  }
  p {
    font-size: 30px;
  }
}

a {
  color: #ff6060;
  font-size: 15px;
}
